<style>
textarea {
  display:block;
  margin-right:auto;
  margin-left:auto;
  margin-top:10px;
  min-width: 100px;
}
</style>

<textarea rows="8" cols="38" placeholder="Here are my notes on this chapter..."> </textarea>
 <br>
<button class="btn btn-primary ember-view">Save</button>
